{% extends "base.html" %}

{% block content %}

<div class="container">
  <h1 class="mb-4">TODO list</h1>

  {% if task_list %}
    {% for task in task_list %}
      <div class="mb-3 p-2 border rounded">
        
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ task.content }}</span>
          {% if task.is_done %}
          <a class="btn btn-sm btn-secondary" href="{% url 'todo-list:change-state' task.pk %}">
            Undo
          </a>
          {% else %}
          <a class="btn btn-sm btn-primary" href="{% url 'todo-list:change-state' task.pk %}">
            Complete
          </a>
          {% endif %}
        </div>
        
        <div class="text-muted small">
          {{ task.get_date }}
        </div>

        {% if task.tags.all %}
          <div class="mt-1">
            <strong>Tags:</strong>
            {% for tag in task.tags.all %}
              <span class="badge bg-secondary">{{ tag.name }}</span>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  {% else %}
    <h3>There are no tasks available.</h3>
  {% endif %}
</div>

{% endblock %}
